{% load static %}
<html>
    <head>
        <title>Urban Gardening</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header text-center">
                <h1><a href="/">Urban Gardening - make our city green!</a></h1>
        </div>
        <header>
            <div class="box1">
                <h1>Susans-Blog</h1>
            </div>
            <nav>
                <ul class="Menuband">
                    <li> <a href="{% url 'post_list' %}">STARTSEITE</a></li>
                    <li><a href="{% url 'urbangardening' %}">URBAN GARDENING</a></li>
                    <li><a href="{% url 'events' %}">EVENTS IN MEINER NÄHE</a></li>
                    <li><a href="{% url 'ubermich' %}">ÜBER MICH</a></li>
                </ul>
            </nav>
            <div class="box2">
                <ul>
                    <h1>
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}"><button><span class="glyphicon glyphicon-plus"></span></a>
                    {% endif %}
                    </h1>
                </ul>     
            </div>                 
        </header>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        
    </body>
</html>
