{% load static %}
<html>
    <head>
        <title>Urban Gardening</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="Titel">
            <h1>Urban Gardening</h1>
        </div>
        <header>
            <nav>
                <ul class="Menuband">
                    <li><a href="{% url 'startseite' %}">STARTSEITE</a></li>
                    <li><a href="{% url 'post_list' %}">BLOG</a></li>
                    <li><a href="{% url 'urbangardening' %}">URBAN GARDENING</a></li>
                    <li><a href="{% url 'events' %}">EVENTS IN MEINER NÄHE</a></li>
                    <li><a href="{% url 'ubermich' %}">ÜBER MICH</a></li>
                </ul>
            </nav>                
        </header>
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div> 
    </body>
</html>
