{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2> {{ post.titel }} </h2>
        <p>{{ post.text|linebreaksbr }}</p>

        <div class="author"> <!--anlegen der optischen Felder für Author, Alter und Ort mit Komma und Klammern in einer Zeile -->
            {{ post.author}}, {{ post.alter }} ({{post.ort}})
        </div>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date}}
            </div>
        {% endif %}

        {% if post.bild.url != '/media/default.PNG' %}
        <div class="date">
            <img src="{{ post.bild.url }}" width="100%" height="auto" /> <!-- Bild anzeigen lassen in 100% größe in der Mitte des Kastens-->
        </div>
        {% endif %}
        
        <div class="date">
        {% if user.is_authenticated %}
        <a class="edit btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span >Bearbeiten</span></a>
        {% endif %}
        </div>
    </div>   
    <div class="Kommentare">
     <!--Kommentarfunktion -->
        <div class="Kommentare1">
         <!-- Ansicht bisheriger Kommentare -->
         {% if  comments.count == 1 %}
            <h3>{{ comments.count }} Kommentar</h3>
        {% else %}
        <h3>{{ comments.count }} Kommentare</h3>
        {% endif %}
            {% for comment in comments %}
            <div class="comments">
                <h4>{{ comment.name }}</h4>
                <p>{{ comment.kommentartext | linebreaks }}</p>

                <div class="created_on">
                    {{ comment.created_on }}
                </div>            
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="Kommentarverfassen">
     <!-- Nachricht wenn man bereits Kommentar verfasst hat-->
        <div class="NeuesKommentar">
            {% if new_comment %}
            <div class="alert-success" role="alert">
                Dein Kommentar wird geprüft. Bitte schau später nochmal vorbei :)
            </div>
            {% else %}
             <!-- Kommentar Hinzufügen-->
            <h3>Hinterlasse ein Kommentar</h3>
            <form method="POST" class="post-form">{% csrf_token %} 
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Speichern</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}