{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
        <title>Urban Gardening</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        <div class="Willkommen">
                            <h3>Herzlich Willkommen auf meinem Blog </h3>
                            <p>Mein Name ist Susan. Ich bin 24 Jahre alt und aktuelle Masterandin an der Freien Universität zu Berlin. <br /> Schon seit langem ist mir klar geworden wie wichtig es ist, die Umwelt zu schützen. <br /> Daher habe ich diesen Blog errichtet, um Menschen
                            darauf aufmerksam zu machen, wie sie mit kleinen aber einfachen Tricks die Umwelt schützen können. </p>
                            <p>Ich freue mich euch alle kennenzulernen!</p>
                        </div>
                        
                        <div class="Willkommen">
                            <h3>Aktuelles</h3>
                            {% for event in events %}
                            <div class = "post">
                                <h4><a href="{% url 'event_detail' pk=event.pk %}">{{event.eventtitel }}</a></h4>
                                <p>Veranstaltungsort: {{ event.veranstaltungsort}}, Datum: {{ event.veranstaltungsdatum}}, {{ event.uhrzeit|linebreaksbr }} Uhr</p>
                            </div>
                            {% endfor %}  
                        </div>        
                                            
                            {% for post in posts %}
                        <div class="post">
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titel }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                            {% if post.bild %}
                            <div class="bild">
                            <img src="{{ post.bild.url }}" width="60%" height="auto"> <!--Bild anzeigen lassen mit 25% Größe auf der linken Seite des Kastens-->
                            </div>
                            {% endif %}
                            <div class="author">
                                {{ post.author|linebreaksbr }}
                            </div>
                            <div class="date">
                                {{ post.published_date }}
                            </div>
                        </div>
                        {% endfor %}   
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>