
/*
#########################################################################################################
                                    Allgemeiner Body
#########################################################################################################
*/
body,html {
    background-color: whitesmoke;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:0;
}

section {
    background: white;
    padding: none;
}

div {
    padding: 0px 0px;
}

/*
#########################################################################################################
                                    Schriften
#########################################################################################################
*/
p {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-style: normal;
    font-family: 'Arial', Times, serif;
    font-weight: normal;
    font-size: 80pt;
    text-align: center;
    color:white;
}

h2 {
    font-family: 'Arial', Times, serif;
    font-size: 30pt;
    font-weight: bold;
    color: #2B463C;
}

h2 a{
    font-family: 'Arial', Times, serif;
    font-size: 30pt;
    font-weight: bold;
    color: #2B463C;  
}

h2 a:hover {
    text-decoration: none;
    color: #B1d182;
}

h3 {
    font-style: normal;
    font-family: 'Arial', Times, serif;
    font-weight: bold;
    font-size: 30pt;
    color: #2B463C;
}

h4 {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
}

h4 a {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
    color: #2b463C; 
    text-decoration: none;
}

h4 a:hover {
    text-decoration: none;
    color: #B1d182;
}


h5 {
    font-style: normal;
    font-family: 'Arial', Times, serif;
    font-weight: bold;
    font-size: 30pt; 
    color: #2B463C;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #688F4E;
    text-transform: uppercase;
    font-weight: bold;
}

/*
#########################################################################################################
                                    Header
#########################################################################################################
*/

/*
header {
    justify-content: center;
    background:white;
    position: sticky;
    display: flex;
    top: 0px;
    width: 100%;
    height: 80px;
    line-height: 60px;
    z-index: 99999;
}

.willkommen {
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: white;
}

.Titel {
    background: yellowgreen;
    background-image:url("https://cdn.pixabay.com/photo/2017/04/07/13/16/leaf-2210973_960_720.jpg");
    background-size: 100% Auto;
    margin-top: 0;
    padding: 40px;
    margin-bottom: 0px;
}
*/
 
/*
#########################################################################################################
                                    Menü
#########################################################################################################
*/

.navbar{
    border-radius: 0;
    margin-bottom: 0 !important;
    padding: 0 0 !important;
    text-align: center !important;
    background-color: #B1d182 !important;
}
.navbar-nav li a {
    color: #f4f1e9 !important;
    font-size: 24px !important;
    font-family: "Arial" !important;
    text-align: center !important;
    padding-right: 15px !important;
    padding-right: 20px !important;
}

.navbar-nav li a:hover {
    color: #2b463c !important;
    font-size: 24px !important;
    font-family: "Arial" !important;
    text-align: center !important;
}

.collapse .navbar-collapse {
    border-style: solid;
    border-color: #2b463c !important;
}

/*
#########################################################################################################
                                    Button zum Blogeintrag und Event hinzufügen
#########################################################################################################
*/

/*
.Blogeintrag {
    display: flex ;
    justify-content: center;
    background: white;
    padding: 0px 15%;
    top: 70px;
    z-index: 9999;
}

.Blogeintrag a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    color: black;
}

.Blogeintrag button {
    padding: 9px 25px;
    background-color: yellowgreen;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: grey;
}
*/

/*
#########################################################################################################
                                    Post & Event mit deren Eigenschaften
#########################################################################################################
*/

.post-container {
    width: 100%;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    border-style: solid;
    border-color: #f4f1e9;
    background-color: #f4f1e9;
}

.event-container {
    width: 100%;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    border-style: solid;
    border-color: #f4f1e9;
    background-color: #f4f1e9;
}

.post {
    padding: 50px 100px;
    margin-bottom: 50px; 
    background-color: white;
    width: 100%;
    text-align: justify;
}

.post h4 a{
    font-family: 'Arial', Times, serif;
    font-size: 16pt;
    font-weight: bold;
    color:  yellowgreen;
}

/*
#########################################################################################################
                                    Post & Event Model
#########################################################################################################
*/

.post-form textarea, .post-form input {
    width: 100%;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: gray;
    text-align: right;
    align-items: right;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: grey;
    text-align: right;
    align-items: right;
}

.save {
    float: right;
    border-color:grey;
    margin-bottom: 20px;
    background-color: lightgray;
}

.edit {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: grey;
}

.Blogpost {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    border-style: solid;
    border-color: #f4f1e9;
    background-color: #f4f1e9;
}

.Eventpost {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    border-style: solid;
    border-color: #f4f1e9;
    background-color: #f4f1e9;
}

/*
#########################################################################################################
                                    Button zur Adminseite
#########################################################################################################
*/

/*
.adminseite button {
    padding: 5px 12px;
    background-color: yellowgreen;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}
.adminseite {
    display: flex;
    justify-content: center;
    padding: 0px 15%;
    top: 50px;
    z-index: 9999;
    margin-bottom: 0px;
}
.adminseite a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    color: black;
}
*/

/*
#########################################################################################################
                                    Kommentare/Nachrichten
#########################################################################################################
*/

.Kommentare-Container {
    background-image: url(/media/palmen.PNG);
    width: 100%;
    padding: 50px 200px;
}

.Kommentare2 {
    background-color: #303030;
}

.Kommentare2 h3{
    font-family: 'Arial', Times, serif;
    font-size: 20pt;
    color: #B1D182;
    padding: 10px 10px;
}

.comments{
    background-color:#f4f1e9;
    padding: 20px 20px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-color: #303030;
}
.created_on{
    text-align: right;
    color: gray;
}

.kommentarverfassen{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #B1d182;
}
/* Nachrichten*/

.Nachrichtverfassen {
    padding: 75px 300px;
    background-color: #B1d182;
}

/*
#########################################################################################################
                                    Startseite
#########################################################################################################
*/

.kopfzeile {
    background-color: #303030;
    height: 50px;
    padding: 0px 50px;
}

.links2 {
    float: left;
    width: 75%;
    height: 50px;
    padding-top: 15px;
}

.links2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #f4f1e9;
}

/*
.mitte2 {
    width: 75%;
    text-align: center;
    padding-top: 10px;
    height: 50px;
}

.mitte2 button {
    border: none;
    background-color: #EBEBE9;
    cursor: pointer;
}

.mitte2 button:hover {
    background-color: #8AA989;
}
*/

.rechts2 {
    float: right;
    width: 25%;
    text-align: center;
    padding-top: 15px;
    height: 50px;
}

.rechts2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #f4f1e9;
    text-align: end;
}

.rechts2 :hover{
    text-decoration: underline;
}

.introbild {
    padding: 250px 200px;
    background-image: url(/media/introbild.png);
}

.willkommen {
    padding: 50px 300px;
    margin: 0px;
    text-align: center;
    background-color: #B1d182;
}

.willkommen button {
    padding: 9px 25px;
    border-style: solid;
    border-color: #303030;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: whitesmoke;
}

.willkommen p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 20pt;
}

.aktuelles {
    padding: 50px 200px;
    background-color: #f4f1e9;
    margin: 0px;
    width: 100%;
}

.events2 {
    display: inline-block;
    width: 30%;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: white;
}
.events2 h4 a:hover{
    color: #f4f1e9;
}
.events2 h4 a{
    color: #2b463c;
}

.events2 p {
    color: #2b463c;
}

.post-ubersicht {
    background-image: url(/media/palmen.PNG);
    width: 100%;
    padding: 50px 200px;
}

.post2 {
    padding: 50px 100px;
    background-color: white;
    text-align: justify;
}

.Nachrichtverfassen {
    padding: 75px 300px;
    background-color: #b1d182;
}

/*
#########################################################################################################
                                    Footer
#########################################################################################################
*/

footer {
    background-color: #303030;
    height: 100px;
}

.links {
    float: left;
    width: 25%;
    text-align: center;
    height: 80px;
    padding-top: 5px;
}

.mitte{
    width: 75%;
    text-align: center;
    height: 80px;
    padding-top: 20px;
}
.mitte a {
    color: white;
}

.mitte :hover{
    background-color: #f4f1e9;
    text-decoration: none;
}

.rechts {
    float: right;
    width: 25%;
    text-align: center;
    height: 80px;
    padding-top: 30px;

}

.rechts a {
    color: whitesmoke;
}

.rechts :hover{
    text-decoration: underline;
}

.Impressum {
    margin: 0px 10px;
}

.Datenschutz {
    margin: 0px 10px;
}

.Logo {
    width: 100%;
    padding: 10px;
}

/* Social Media Icons*/

.fa {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}

.fa-twitter {
    color: white;
    justify-content: center;
    padding: 15px 10px;
    margin: 0px 5px;
}

.fa-instagram {
    color: black;
    justify-content: center;   
    padding: 15px 10px;
    margin: 0px 5px;
}

.fa-pinterest {
    color: black;
    justify-content: center;
    padding: 15px 10px;
    margin: 0px 5px;
}

.logo {
    background-color: #303030;
}

/*
#########################################################################################################
                                    ÜBER MICH
#########################################################################################################
*/

.Ziele {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: #f4f1e9;
}

.icons p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #688f4e;

}

.icon1, .icon2 {
    float: left;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 5%;
}
.icon3 {
    float: right;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.Partei-Container {
    background-image: url(/media/ProtectEarth.jpg);
    padding: 50px 300px;
}

.Partei {
    width: 100%;
    padding: 20px 50px;
    background-color: #2b463c;
    text-align: justify;
}

.Partei h3, .Partei p {
    color: white;
}

.Partei p a {
    color: white;
    text-decoration: underline;
}

.Partei p a:hover {
    color: #f4f1e9;
    text-decoration: none;
}

/*
#########################################################################################################
                                    IMPRESSUM
#########################################################################################################
*/ 

.Impressum-Container {
    padding: 50px 25%;
    text-align: center;
    background-color: #f4f1e9;
}

.Impressum-Text {
    width: 100%;
    padding: 20px 50px;
    text-align: center;
}

.Impressum-Text h1 {
    color: black;
}

.Impressum-Text h4 {
    color: #688f4e;
}

/*
#########################################################################################################
                                    DATENSCHUTZ
#########################################################################################################
*/ 

.Datenschutz-Container {
    padding: 50px 300px;
    text-align: justify;
    background-color: #f4f1e9;
}

.Datenschutz-Text {
    width: 100%;
    padding: 20px 50px;
    text-align: center;
}

.Datenschutz-Text h1 {
    color: black;
}

.Datenschutz-Text h3 {
    font-size: 20pt;
}

/*
#########################################################################################################
                                    Unterschiedliche Bildschirmgrößen
#########################################################################################################
*/ 


/*Mobil Version*/
@media (max-width: 950px) {

        /*########### Schriftgröße im Menü anpassen bis Burgermenü erscheint ###########*/

    header {
        justify-content: center;
        background: white;
        position: sticky;
        display: flex;
        top: 0px;
        width: 100%;
        height: 100px;
        line-height: 25px;
        z-index: 99999;
    }

    /*########### Buttons Blog und Event hinzufügen ###########*/
     .Blogeintrag {
        display: flex;
        background: white;
        padding: 0px 15%;
        position: sticky;
        top: 70px;
        z-index: 9999;
    }

    .Blogeintrag a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12pt;
        color: black;
    }


    .Blogeintrag button {
        display: block;
        position: sticky;
        padding: 8px 25px;
        background-color: yellowgreen;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: grey;
    }

    /*########### Schriftanpassung ###########*/
    .page-header {
        padding: 20px;
    }

    h1 {
        font-size: 35pt;
    }

    .post h2 {
        font-size: 20pt;
    }

    .post h2 a {
        font-size: 20pt;
    }
    .post2 h2 a {
        font-size: 20pt;

    }
    h3 {
        font-size: 20pt;
    }

    h4 a {
        font-size: 12pt;
    }
    h5 {
        font-size: 25px;
    }


    .post-container {
        width: 100%;
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .event-container {
        width: 100%;
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .post {
        padding: 5% 5%;
        margin-bottom: 50px;
        background-color: white;
        width: 100%;
        text-align: justify;
    }

    .post h4 a{
        font-family: 'Times New Roman', Times, serif;
        font-size: 16pt;
        font-weight: bold;
    }

    .post-ubersicht {
    padding: 2% 2%;
    }

    .post2 {
        padding: 5% 5%;
    }
}

    /*
    #########################################################################################################
                                        Post & Event Model
    #########################################################################################################
    */

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .date {
        font-size: 12pt;
    }

    .author{
        font-size: 12pt;
    }

    .save {
        margin-bottom: 20px;
    }

    .edit {
        margin-top: 20px;
        margin-bottom: 20px;
        border-color: grey;
    }

    .Blogpost {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .Eventpost {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .Introbild{
        padding: 7% 7%;
        padding-bottom: 150px;
        padding-top: 150px;
    }
    .Introbild h1 {
        font-size: 25pt;
        color: white;
    }

    .Willkommen {
        padding: 7% 7%;
    }
    .Willkommen p {
        font-size: 12pt;
    }
    .Aktuelles {
        padding: 7% 7%;
    }
    .Aktuelles h3 {
        text-align: center;
    }
    .Nachrichtverfassen {
        padding: 7% 7%;
        padding-bottom: 50px;
    }
    .links{
       display: none;
    }
    .mitte {
        display: none;
    }
/*############## Anpassung des Burgermenü #####################*/

@media (max-width: 575px) {

    /*########### Menü ###########*/
    .navbar{
    border-radius: 0;
    margin-bottom: 0 !important;
    padding: 0 0 !important;
    }
    .navbar-nav li a {
        color: white!important;
        font-size: 18px !important;
        background-color: #b1d182    !important;
        text-align: center !important;
        padding-left: 100px  !important;
        padding-right: 100px  !important;
        padding-top: 0px  !important;
        padding-bottom: 0px  !important;
        opacity: 0.9 !important;
    }
    .collapse .navbar-collapse {
        border-style: solid;
        border-color: grey !important;
    }

    header {
        justify-content: center;
        padding: 5px 5%;
        background: #b1d182;
        position: sticky;
        display: flex;
        top: 0px;
        width: 100%;
        height: 80px;
        line-height: 60px;
        z-index: 99999;
    }

}
