
/*
#########################################################################################################
                                    Allgemeiner Body
#########################################################################################################
*/
body,html {
    background-color: whitesmoke;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:0;
}

section {
    background: white;
    padding: none;
}

div {
    padding: 0px 0px;
}

/*
#########################################################################################################
                                    Schriften
#########################################################################################################
*/
p {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 60pt;
    text-align: center;
    color: black;
}

h3 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30pt;
    color: black;
}
h4 {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
}
/*
#########################################################################################################
                                    Footer
#########################################################################################################
*/

/*
#########################################################################################################
                                    Header
#########################################################################################################
*/

header {
    justify-content: center;
    background:white;
    position: sticky;
    display: flex;
    top: 0px;
    width: 100%;
    height: 80px;
    line-height: 60px;
    z-index: 99999;
}

.willkommen {
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: white;
}

.Titel {
    background: yellowgreen;
    background-image:url("https://cdn.pixabay.com/photo/2017/04/07/13/16/leaf-2210973_960_720.jpg");
    background-size: 100% Auto;
    margin-top: 0;
    padding: 40px;
    margin-bottom: 0px;
}

/*
#########################################################################################################
                                    Menü
#########################################################################################################
*/

.navbar{
    border-radius: 0;
    margin-bottom: 0 !important;
    padding: 0 0 !important;
}
.navbar-nav li a {
    color: black !important;
    font-size: 24px !important;
    background-color: white !important;
    text-align: center !important;
}
.collapse .navbar-collapse {
    border-style: solid;
    border-color: grey !important;
}

/*
#########################################################################################################
                                    Button zum Blogeintrag und Event hinzufügen
#########################################################################################################
*/

.Blogeintrag {
    display: flex ;
    justify-content: center;
    background: white;
    padding: 0px 15%;
    top: 70px;
    z-index: 9999;
}

.Blogeintrag a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    color: black;
}

.Blogeintrag button {
    padding: 9px 25px;
    background-color: yellowgreen;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: grey;
}


/*
#########################################################################################################
                                    Post & Event mit deren Eigenschaften
#########################################################################################################
*/
.content-container {
    display: flex;
    justify-content: center;
   /*  background: whitesmoke;  */
}

.row {
    display: flex;
    justify-content: center;   
    width: 100%;
    padding-top: 40px;
}

.post {
    padding: 10px 20px;
    margin-bottom: 40px; 
    background-color: white;
    width: 100%;
}

.post h2 a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: bold;
    color: black;  
}
.post h4 a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-weight: bold;
    color:  yellowgreen;
}

.post h2:hover {
    text-decoration: none;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: grey;
    text-align: right;
    align-items: right;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: grey;
    text-align: right;
    align-items: right;
}

.save {
    float: right;
    border-color:grey;
    margin-bottom: 20px;
}

.edit {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: grey;
}

/*
#########################################################################################################
                                    Button zur Adminseite
#########################################################################################################
*/
.adminseite button {
    padding: 5px 12px;
    background-color: yellowgreen;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 50px;
    margin-bottom: 20px;
}
.adminseite {
    display: flex;
    justify-content: center;
    padding: 0px 15%;
    top: 50px;
    z-index: 9999;
    margin-bottom: 20px;
}
.adminseite a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    color: black;
}
/*
#########################################################################################################
                                    Kommentare
#########################################################################################################
*/

.Kommentare h3 {
    padding: 10px 20px;
    margin-bottom: 40px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    text-align: right;
}
.neueskommentar h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}
.comments{
    background-color:white;
    padding: 10px 20px;
}
.created_on{
    text-align: right;
    color: gray;
}
.comments h4{
    color: yellowgreen;
}
.kommentarverfassen{
    margin-top: 50px;
}
/* Nachrichten*/

.Nachrichtverfassen h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}
.Nachrichtverfassen {
    padding-left: 150px;
    padding-right: 150px;
    padding-top:50px;
}


/*
#########################################################################################################
                                    Unterschiedliche Bildschirmgrößen
#########################################################################################################
*/ 


/*Mobil Version*/
@media (max-width: 650px) {

    /*########### Schriftgröße im Menü anpassen bis Burgermenü erscheint ###########*/
    .navbar-nav li a {
        font-size: 18px !important;
    }

    /*########### Buttons Blog und Event hinzufügen ###########*/
     .Blogeintrag {
        display: flex;
        background: white;
        padding: 0px 15%;
        position: sticky;
        top: 70px;
        z-index: 9999;
    }

    .Blogeintrag a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12pt;
        color: black;
    }


    .Blogeintrag button {
        display: block;
        position: sticky;
        padding: 8px 25px;
        background-color: yellowgreen;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: grey;
    }

    /*########### Schriftanpassung ###########*/
    .page-header {
        padding: 20px;
    }

    .Titel {
        background: yellowgreen;
        background-image: url("https://cdn.pixabay.com/photo/2017/04/07/13/16/leaf-2210973_960_720.jpg");
        background-size: 100% Auto;
        margin-top: 0;
        padding: 40px;
        margin-bottom: 0px;
    }

    h1 {
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 35pt;
        text-align: center;
        color: black;
    }


    .post h2 a {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20pt;
        font-weight: bold;
        color: black;
    }

    h3 {
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 20pt;
    }

    h4 a {
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12pt;
    }

    header {
        justify-content: center;
        padding: 10px 15%;
        background: white;
        position: sticky;
        display: flex;
        top: 0px;
        width: 100%;
        height: 80px;
        line-height: 60px;
        z-index: 99999;
    }

}
/*############## Anpassung des Hamburgermenü #####################*/

@media (max-width: 575px) {

    /*########### Menü ###########*/
    .navbar{
    border-radius: 0;
    margin-bottom: 0 !important;
    padding: 0 0 !important;
    }
    .navbar-nav li a {
        color: white !important;
        font-size: 18px !important;
        background-color: darkgreen !important;
        text-align: center !important;
        padding-left: 100px  !important;
        padding-right: 100px  !important;
        padding-top: 0px  !important;
        padding-bottom: 0px  !important;
        opacity: 0.9 !important;
    }
    .collapse .navbar-collapse {
        border-style: solid;
        border-color: grey !important;
    }
}