
body,html {
    background-color: whitesmoke;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:0;
}

section {
    background: white;
    padding: none;
}

div {
    padding: 0px 0px;
}

.willkommen {
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: white;
}

.Titel {
    background: yellowgreen;
    background-image:url("https://cdn.pixabay.com/photo/2017/04/07/13/16/leaf-2210973_960_720.jpg");
    background-size: 100% Auto;
    margin-top: 0;
    padding: 40px;
    margin-bottom: 0px;   
}

h1 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 60pt;
    text-align: center;
    color: black;
}

h3 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30pt;
    color: black;
}
h4 {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16pt;
}

header {
    justify-content: center;
    background:white;
    position: sticky;
    display: flex;
    top: 0px;
    width: 100%;
    height: 140px;
    line-height: 120px;
    z-index: 99999;
}

.Blogeintrag {
    display: flex;
    justify-content: center;
    background: white;
    padding: 0px 15%;
    position: sticky;
    top: 100px;
    z-index: 9999;
}

.Blogeintrag a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    color: black;
}

.Blogeintrag button {
    padding: 9px 25px;
    background-color: yellowgreen;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: grey;
}

.content-container {
    display: flex;
    justify-content: center;
   /*  background: whitesmoke;  */
}

.row {
    display: flex;
    justify-content: center;   
    width: 100%;
    padding-top: 40px;
}

.post {
    padding: 10px 20px;
    margin-bottom: 40px; 
    background-color: white;
    width: 100%;
}

.post h2 a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: bold;
    color: black;  
}
.post h4 a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-weight: bold;
    color:  yellowgreen;
}

.post h2:hover {
    text-decoration: none;
}

.post-form textarea, .post-form input {
    width: 100%;
}

p {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: gray;
    text-align: right;
    align-items: right;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: grey;
    text-align: right;
    align-items: right;
}

.save {
    float: right;
    border-color:gray;
    margin-bottom: 20px;
}
/* Button zur Adminseite*/
.adminseite button {
    padding: 5px 12px;
    background-color: yellowgreen;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 100px;
}
.adminseite {
    display: flex;
    justify-content: center;
    padding: 0px 15%;
    top: 100px;
    z-index: 9999;
}
.adminseite a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    color: black;
}
/*
#########################################################################################################
                                    Kommentare
#########################################################################################################
*/

.Kommentare h3 {
    padding: 10px 20px;
    margin-bottom: 40px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    text-align: right;
}
.neueskommentar h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}
.comments{
    background-color:white;
    padding: 10px 20px;
}
.created_on{
    text-align: right;
    color: gray;
}
.comments h4{
    color: yellowgreen;
}
.kommentarverfassen{
    margin-top: 50px;
}
/* Nachrichten*/

.Nachrichtverfassen h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}

/*
#########################################################################################################
                                    Menü
#########################################################################################################
*/

.navbar{
    border-radius: 0;
}
.navbar-nav li a {
    color: black !important;
    font-size: 24px !important;
    background-color: white !important;
    text-align: center !important;
}
.collapse .navbar-collapse {
    border-style: solid;
    border-color: grey !important;
}

/*
#########################################################################################################
                                    Different Screen Sizes
#########################################################################################################
*/ 


/*Mobil Version*/
@media (max-width: 650px) {
    .page-header {
        padding: 20px;
    }

    .Titel {
        background: yellowgreen;
        background-image: url("https://cdn.pixabay.com/photo/2017/04/07/13/16/leaf-2210973_960_720.jpg");
        background-size: 100% Auto;
        margin-top: 0;
        padding: 40px;
        margin-bottom: 0px;
    }

    h1 {
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 35pt;
        text-align: center;
        color: black;
    }

    h3 {
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 20pt;
    }

    h4 {
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 16pt;
    }

    header {
        justify-content: center;
        padding: 10px 15%;
        background: white;
        position: sticky;
        display: flex;
        top: 0px;
        width: 100%;
        height: 140px;
        line-height: 100px;
        z-index: 99999;

    }

    .Blogeintrag {
        display: flex;
        justify-content: center;
        background: white;
        padding: 0px 15%;
        position: sticky;
        top: 100px;
        z-index: 9999;
    }

    .Blogeintrag a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 14pt;
        color: black;
    }
    .post h2 a {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20pt;
        font-weight: bold;
        color: black;
    }
}